.DS_Store
.vscode
.idea

venv
results/*

# LaTeX files
*.synctex.gz
*.synctex(busy)
*.out
*.log
*.fls
*.fdb_latexmk
*.aux

**/__MACOSX/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
*.pyc